@import "tailwindcss";

/* Project's colors for Tailwind*/
@theme {
  --color-blanco-bg: #ffffff;
  --color-gris-bg2: #d4d3d1;
  --color-griso-prf: #5e5958;
  --color-rojo-enf: #fd0000;
  --color-negro-txt: #000000;
  --color-amarillo-xbtn: #ffa800;
  --color-rosa-btn: #ff656b;
  --color-azul-url: #009dcd;
  --color-rosa-menu: #e8d6d7;
  --background-image-landing: url(../src/assets/landingbg.png);
  --background-image-activid: url(../src/assets/actividadesbg.png);
  --font-size-base: 16px;
}

/* Header config */
header {
  background-color: var(--bg-runtime, var(--color-blanco-bg));
  width: 100%;
}

nav, search, form, option, modal, section {
  background-color: var(--bg-runtime, var(--color-blanco-bg));
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-runtime, var(--color-blanco-bg));
  font-size: var(--font-size-base);
}